*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter" , sans-serif;
}
.nav{
    display: flex;
    height: 92px;
    width: 1600px;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    list-style-type: none;
    margin: 34px 345px;
    gap: 32px;
    font-weight: 500;
    font-size: 16px;
}
.nav img{
    margin: 16px 0px 16px 120px;
}
.nav button{
    width: 164px;
    height: 44px;
    background-color: #469165;
    font-size: 16px;
    color: #ffffff;
    margin: 24px 120px 24px 0px;
    border-radius: 4px;
    font-weight: 600;
    border: none;
    padding: 0px;
    cursor: pointer;
}
.nav button:hover{
    background-color: rgb(79, 177, 210);
}
.banner{
    background: url("./assets/hero-bg.png");
    width: 1600px;
    height: 674px;
    margin: 0 auto;
    text-align: center;
    padding: 115px 120px 179px 120px;
}
.banner  .banner-p1{
    background-color: #ffffff;
    width:250px ;
    height: 35px;
    color: #469165;
    border-radius: 1000px;
    margin: 0px 565px;
    font-size:16px ;
    font-weight: 500;
    padding: 8px 12px 8px 12px;
    gap: 6px;   
}
.bold-text{
    font-size: 72px;
    font-weight: 700;
    margin-top: 16px;   
}
.bold-text-p{
    color: #ffffff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
}
.banner-button{
    display: flex;
    margin: 0 447px;
    gap: 16px;
    color: #ffffff;
    margin-top: 32px;
}
.banner-button .button1:hover{
    background-color: rgb(197, 82, 194);
}
.banner-button .button1{
    background-color: #469165;
    width: 251px;
    height: 52px;
    border: none;
    color: #ffffff; 
     cursor: pointer; 
}
.banner-button .button2:hover{
    background-color: rgb(165, 81, 81);
}
.banner-button .button2{
    width: 198px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 12px 16px;
    gap: 10px;
    background-color: transparent;
    color: #ffffff;
     cursor: pointer;
}
.banner-button .button1, .banner-button .button2{
    font-weight: 600;
    font-size: 16px;
}
.section1{
    width: 1600px;
    height: 448px;
    margin: 0 auto;
}
.section1 .section1-head{
    padding: 0 120px;
    text-align: center;
}
.section1 .section1-head h3{   
font-weight: 700;
font-style: Bold;
font-size: 48px;
padding: 30px 0px 0px 0px;
}
.section1 .section1-head p{
    color:  #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.card{
    display: flex;
    height: 300px;
    width: 1360px;
    margin: 20px 120px 0px 120px;
    gap: 24px;
    text-align: center;
    margin-top: 44px;
}
.card img{
    background-color: #f95555  ;
    width: 32px;
    height: 32px;
    align-items: center;
}
.card h5{
font-weight: 600;
font-style: 600;
font-size: 24px;
margin-top: 16px;
}
.card p{
font-weight: 400;
font-size: 16px;
line-height: 20px;
margin-top: 16px;
}
.card .card-c{
    height: 300px;
    width: 322px;
    border-radius: 8px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px #0000000F;
}
.icon-box {
  width: 64px;
  height: 64px;
  background: #f95555;   
  border-radius: 50%;    
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 131px 0px 115px;
}
.section-2 {
    display: flex;
    height: 840px;
    width: 1600px;
    gap: 60px;
    padding: 120px;
    margin: 0 auto;
}
.section2-img{
    height: 600px;
    width: 600px;    
}
.section2-div{
    height: 396px;
    width: 700px;
    padding: 102px 0px;
}


.section2-div .s{
    font-size: 16px;
    font-weight: 500px;
    line-height: 20px;
    color: #30B868;
    line-height: 20PX;
}
.section2-div h3{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 16px;
}
.section2-div .sp{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
    width: 700;
    height: 60;
    text-align: left;
}
.section2-div .sp2{
    margin-top: 40px;
    list-style-type: none;
    gap: 16px;
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.section3{
    height: 506px;
    width: 1600px;
    padding: 2px 120px 120px 120px;
    margin: 0 auto;
}
.section3 .section3-bigdiv{
    background-color: #F7F6F2;
    height: 384px;
    width: 1360px;
    border-radius: 12px;
    padding: 80px 40px;
    text-align: center;
    
}
.section3-div1 h3{
    font-size: 40px;
    font-weight: 700;
    cursor: #001931;
}
.section3-div1{
    margin: 0px 40px 24px 40px;
}
.section3-div1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
    
}
.section3-div2 button{
    width: 194px;
    height: 52px;
    border-radius: 4px;
    padding: 12px 16px;
    gap: 10px;
    color: #ffffff;
    background-color: #30B868;
    border: none;
    box-shadow: 0px 10px 20px 0px #00000026;
    font-size: 16px;
    font-weight: 600;
}
.section3-div2 button:hover{
    background-color: rgb(91, 102, 195);
}
.section3-div2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #627382;
    margin-top: 16px;
}
.section4{
    background-color: #001931;
    width: 1600px;
    height: 348px;
    border-top: 1px ;
    margin: 0 auto;
    padding: 120px 120px 30px 120px;
    gap: 80px;
}
.section4-div1{
    display: flex;
    justify-content: space-between;
}
.section4-div1 p{
    color: #ffffff;
       font-size: 20px;   
       font-weight: 500;
       line-height: 28px; 
       margin-bottom: 16px;           
}
.img-div div{
     gap: 15px;
}
.section4-div2{
    color:#FAFAFA;
    margin: 80px 120px 30px 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 30px;
}

    


